= simple_form_for(@activity) do |f|
  = f.error_notification

  .form-inputs
    .large-10.medium-10.small-10= f.input :name, autofocus: true
    .large-10.medium-10.small-10= f.input :focus
    .large-4.medium-4.small-4= f.input :weight, type: :select, collection: (1..5), selected: @activity.weight_for_selected

  .form-actions
    = f.button :submit
