%p#notice= notice

%p
  %b Name:
  = @activity.name
%p
  %b Focus:
  = @activity.focus
%p
  %b Weight:
  = @activity.weight

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
